@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="c:\users\user1\desktop\marina\family_flow\familyflow\areas\admin\views\_viewstart.cshtml">c:\users\user1\desktop\marina\family_flow\familyflow\areas\admin\views\_viewstart.cshtml</a>