@model CreateEditEventViewModel

@{
    ViewData["Title"] = "Edit Schedule Event";
}

<h2>Edit Schedule Event</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Id" type="hidden" />

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StartTime" class="form-label"></label>
        <input asp-for="StartTime"
               class="form-control"
               type="datetime-local" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EndTime" class="form-label"></label>
        <input asp-for="EndTime"
               class="form-control"
               type="datetime-local" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AccompanyingAdultId" class="form-label-add-edit">Select Adult</label>
        <select asp-for="AccompanyingAdultId" class="form-control" aria-required="true"
                asp-items="@(new SelectList(Model.Adults, "Id", "Name"))">
            <option value="">Select Adult...</option>
        </select>
        <span asp-validation-for="AccompanyingAdultId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="FamilyMembers"
       asp-action="Details"
       asp-route-id="@Model.FamilyMemberId"
       class="btn btn-secondary">
        Cancel
    </a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
